
<%=  %>


<% @dots_hash.each do |dot| %>

<div id='dot_<%= dot[:id] %>' onclick='div_visibility(<%= open_close_dot(dot[:id]) %>)' class='tree' style='display:none' >

<div class='indented'><%= dot[:level]-1==0 ? '' : '...'*dot[:level]*3 %></div>

<div id='plus_<%= dot[:id] %>' style='float:left'>
<%= open_close_dot(1)[3].include?(dot[:id]) ? '+' : '' %>
</div>

<%= dot[:name] %>

</div>
<% end %>


<script>
//alert()

document.getElementById('dot_1').style.display='table';
document.getElementById('plus_1').innerHTML='+';

function div_visibility(open_close_dot)
{

	//состояние элемента на данный момент
	state_dot=document.getElementById('dot_'+open_close_dot[0][0]).style.display;

//попытка не пытка)
/*
	if (document.getElementById(open_close_dot[2]).title=='+') {
		document.getElementById(open_close_dot[2]).title='-';

		document.getElementById('plus_'+open_close_dot[2]).innerHTML='-';

	}
	else
	{
		document.getElementById(open_close_dot[2]).title='+';

		document.getElementById('plus_'+open_close_dot[2]).innerHTML='+';

		for(i = 0; i < open_close_dot[3].length; i += 1)
		{
			document.getElementById('plus_'+open_close_dot[3][i]).innerHTML='+';

		}
			
	}
*/
	//alert('');

	if (state_dot=='none') {
	for(i = 0; i < open_close_dot[0].length; i += 1) {
		//alert(document.getElementById(open_close_dot[0][i]).style.display);

		//если элемент не видимый
			document.getElementById('dot_'+open_close_dot[0][i]).style.display='table'

	}}
//----------------------------
	if (state_dot=='table') {
	for(i = 0; i < open_close_dot[1].length; i += 1) {
		//alert(document.getElementById(open_close_dot[0][i]).style.display);

		//если элемент видимый
			document.getElementById('dot_'+open_close_dot[1][i]).style.display='none'

	}}

}


</script>


<br><br>
<%= @m %>
<br><br>
<%= @dots_hash %>